/******************************************************************************
 * Content
 ******************************************************************************/


 body {
   padding-bottom: 70px;
   color: $text-color;
   // cambiando a justificacion la pagina
   text-align: justify;
   // font-family: garamond;
 }


 body.fixed-top-nav {
   // Add some padding for the nav-bar.
   padding-top: 56px;
   // text-align: justify;
 }

 body.sticky-bottom-footer {
   // Remove padding below footer.
   padding-bottom: 0;
   text-align: left;
 }

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  
  img {
    width: auto;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
