---
layout: default
---

<div class="post">

  <header class="post-header">
    {% assign name = site.title | split: ' ' %}
    <h1 class="post-title"><span class="font-weight-bold">{{ name | first }}</span> {{ name | last }}</h1>
    <h6 class="m-0 mb-2" style="font-size: 1em;">{{ page.description }}</h6>
  </header>

<div style="display: flex; flex-wrap: wrap;">
    <div class="text-justify p-0">
        <div class="col-xs-12 col-sm-6 p-0 pt-3 pb-sm-2 pb-4 pl-sm-4 text-center" style="float: right;">
          <img class="img-fluid" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
        </div>

        <p>
          {{ content }}
        </p>
        
    </div>
</div>



    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.social %}
    <div class="social">
      {% include social.html %}
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>

